@import "tailwindcss";


/* Custom styles */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark {
  background-color: #1a202c; /* Dark background */
  color: #e2e8f0; /* Light text for dark mode */
}

body {
  background-color: #ffffff; /* Light background */
  color: #000000; /* Dark text for light mode */
}


